/* source-sans-pro-300 - cyrillic */
@font-face {
  font-display: swap;
  font-family: "Source Sans";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/source-sans/source-sans-pro-cyrillic-300-normal.woff2")
      format("woff2"),
    url("/fonts/source-sans/source-sans-pro-cyrillic-300-normal.woff")
      format("woff");
}
/* source-sans-pro-regular - cyrillic */
@font-face {
  font-display: swap;
  font-family: "Source Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/source-sans/source-sans-pro-cyrillic-400-normal.woff2")
      format("woff2"),
    url("/fonts/source-sans/source-sans-pro-cyrillic-400-normal.woff")
      format("woff");
}
/* source-sans-pro-600 - cyrillic */
@font-face {
  font-display: swap;
  font-family: "Source Sans";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/source-sans/source-sans-pro-cyrillic-600-normal.woff2")
      format("woff2"),
    url("/fonts/source-sans/source-sans-pro-cyrillic-600-normal.woff")
      format("woff");
}
/* source-sans-pro-700 - cyrillic */
@font-face {
  font-display: swap;
  font-family: "Source Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/source-sans/source-sans-pro-cyrillic-700-normal.woff2")
      format("woff2"),
    url("/fonts/source-sans/source-sans-pro-cyrillic-700-normal.woff")
      format("woff");
}

/* playfair-display-regular - cyrillic */
@font-face {
  font-display: swap;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/playfair-display/playfair-display-v37-cyrillic-regular.woff2")
      format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("/fonts/playfair-display/playfair-display-v37-cyrillic-regular.woff")
      format("woff"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url("/fonts/playfair-display/playfair-display-v37-cyrillic-regular.ttf")
      format("truetype"),
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url("/fonts/playfair-display/playfair-display-v37-cyrillic-regular.svg#PlayfairDisplay")
      format("svg"); /* Legacy iOS */
}
/* playfair-display-500italic - cyrillic */
@font-face {
  font-display: swap;
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/playfair-display/playfair-display-v37-cyrillic-500italic.woff2")
      format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("/fonts/playfair-display/playfair-display-v37-cyrillic-500italic.woff")
      format("woff"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url("/fonts/playfair-display/playfair-display-v37-cyrillic-500italic.ttf")
      format("truetype"),
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url("/fonts/playfair-display/playfair-display-v37-cyrillic-500italic.svg#PlayfairDisplay")
      format("svg"); /* Legacy iOS */
}
/* playfair-display-600 - cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/playfair-display/playfair-display-v37-cyrillic-600.woff2")
      format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("/fonts/playfair-display/playfair-display-v37-cyrillic-600.woff")
      format("woff"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url("/fonts/playfair-display/playfair-display-v37-cyrillic-600.ttf")
      format("truetype"),
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url("/fonts/playfair-display/playfair-display-v37-cyrillic-600.svg#PlayfairDisplay")
      format("svg"); /* Legacy iOS */
}

/* spline-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Spline Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/spline-sans/spline-sans-v10-latin-regular.woff2")
      format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("/fonts/spline-sans/spline-sans-v10-latin-regular.ttf")
      format("truetype"),
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url("/fonts/spline-sans/spline-sans-v10-latin-regular.svg#SplineSans")
      format("svg"); /* Legacy iOS */
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

/* ==== Swiper ==== */

/* ---- swiper-1 ---- */

@media screen and (max-width: 999px) {
  #swiper-1.swiper {
    max-width: 550px;
    width: 100%;
  }

  #swiper-1 .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 220px;
    height: 264px;
  }

  #swiper-1 .swiper-slide-prev,
  #swiper-1 .swiper-slide-next {
    position: relative;
  }

  #swiper-1 .swiper-slide-prev::before,
  #swiper-1 .swiper-slide-next::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(185, 106, 127, 0.4);
    z-index: 1;
  }
}
@media screen and (min-width: 1000px) {
  #swiper-1.swiper {
    max-width: 1440px;
    width: 100%;
  }

  #swiper-1 .swiper-slide {
    background-position: center;
    background-size: cover;
  }
}
